.imgcarousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #ffffff;    
}

.imgcarousel .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgcarousel img {
    width: 95%;
    object-fit: cover;
}