.list-group-item:nth-child(even) {
    background-color: #f5f5f5;
  }

.listgroups:hover {
    background-color: #6589d765;
    cursor: pointer;
}

.group-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin: .6em;
}

