/*.movie-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
}

.movie-card {
    border-radius: 0.6em;
    position: relative;
    overflow: hidden;
}*/

.search-result-page {
    padding: 10px;
}
.card {
    width: '25rem';
    display: 'flex';
    padding: '20px';
}

.movie-list {
    /*
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    justify-content: center;*/
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
}

.movie-poster {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
    max-width: 400px;
}

.movie-info {
   width: 50%;
}

.content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #ffffff;
    text-decoration: none;
    color: #000;
}