.viewport {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  background-image: url("https://github.com/TVT23KMO-R14/etuSivuMockup/blob/main/img/bluebg4096x4096v5.jpg?raw=true");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(108,121,197,.3);
  max-width: 70rem;
}

.container .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgba(12, 42, 211, 0.1);
  flex: 0 0 4rem;
}

.container .sidebar {
  display: flex;
  justify-content: start;
  flex-direction: column;
  background: rgba(12, 42, 211, 0.1);
  flex: 0 0 10rem;
}

.container .main {
  display: flex;
  justify-content: start;
  flex-direction: row;
  background: rgba(58, 81, 211, 0.2);
  flex: 1;
}

.container .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #ffffff;
  flex: 0 0 4rem;
}

.container .content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  background: rgba(12, 42, 211, 0.1);
  flex: 1;
}

.header, .sidebar , .main, .footer, .content, .container, .movies, .imgcarousel, .sidebarcontent{
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  /*https://www.cssmatic.com/box-shadow*/
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
}

div.content div:last-child, div.sidebar div.sidebarcontent:last-child {
  flex-grow: 1;
}

@media screen and (max-width: 800px) {

  html {
      font-size: 10pt;
  }

  .container .main {
      flex-direction: column;
  }

  .container .header {
      justify-content: left;
  }

  .container .footer {
      justify-content: right;
  }

  .container .sidebar {
      flex-direction: row;
      flex-wrap: wrap;
      flex: 0 1 auto;
      margin: 0;
      padding: 0,5rem;
      align-items: center;
      justify-content: center;
  }

  .container a {
      padding: 0 0 0 1rem;
  }

}